<div class='mb-4'>
  <h3>A simple web app</h3>
  <div class="form-row">
    <div class="form-group col-md-6 d-flex">
      <h3 class="mr-5">Order By</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" (blur)="showDropdown=false" (click)="toggleShow()"
          type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{orderBy.name}}
        </button>
        <div class="dropdown-menu " [class.show]="showDropdown" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" *ngFor="let item of sortBy" (mousedown)="handleSort(item)">{{item.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">Birthday</th>
      <th scope="col">Salary</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let item of sortedUser'>
      <th scope="row">{{item.id}}</th>
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.email}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.birthday|birthdayTransform}}</td>
      <td>{{item.salary}}</td>
      <td>{{item.phone|phoneTransform}}</td>
    </tr>
    <tr>
  </tbody>
</table>